body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(251, 224, 105);
    position: fixed;
    z-index: 2; /* Nilai z-index lebih tinggi dari elemen shape */
    width: 100%;
    font-weight: 600;
}

.header-fluid {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 500;
    background-color: rgb(255, 239, 132);
    height: 725px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 35%; /* Adjust this value to move the content higher */
    left: 2.5%; /* Adjust this value to move the content horizontally */
    z-index: 1;
}


.header-content img {
    height: auto;
    margin-left: 5rem;
}

.header-text {
    flex: 1;
    text-align: right;
    font-size: 2.5rem;
    margin-right: 5rem;
}

.text-over-shapes1{
    flex: 1;
    text-align: right;
    font-size: 1rem;
}

.header-text a{
    padding: 5px 15px;
    font-size: 1.5rem;
    text-decoration: none;
}

.header-text a:hover{
    color: blanchedalmond;
}

.text-over-shapes span {
    font-weight: bold;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 20px; */
    align-items: center;
    position: relative;
}

.circle1, .circle2, .circle3 {
    width: 350px;
    height: 250px;
    border-radius: 50%;
    /* box-shadow: 0 2px 4px 2px rgb(146, 146, 146);  */
    background:linear-gradient(to bottom, rgb(255, 245, 182),rgb(255, 248, 204));
    position: absolute;
    z-index: 1;
}

.circle1 { top: 0px; right: -15%; }
.circle2 { top: 100px; right: -5%; }
.circle3 { top: 200px; right: -23%; }

.img1-container {
    position: relative;
    text-align: center;
}

.img1 {
    height: 100px;
    width: 350px;
    left: 0;
}

.text-over-img1 {
    position: absolute;
    font-size: 2rem;
    font-weight: 600;
    top: 0%;
    left: 0%;
    transform: translate(140%, 110%);
    color: black; 
}



.img1-container .img2 {
    margin-top: 3rem;
    position: relative;
    top: 0%;
    left: 0%;
}

.text-container{
    z-index: 1;
}

.text-container p{
    margin-bottom: 5rem;
    margin-top: 12rem;
    font-size: 1.2rem;
    background-color: rgb(255, 238, 190);
    box-shadow: 0 2px 3px 1.5px#767676;
    color: black;
    padding: 20px;
    border-radius: 10px;
    font-weight: 300;
}

.text-container a{
    padding: 15px 30px;
    background: linear-gradient(to bottom,rgb(255, 226, 146),rgb(255, 241, 202));
    box-shadow: 0 2px 3px 1.5px#767676;
    font-size: 1.2rem;
    border-radius: 15px;
    text-decoration: none;
    color: #000;
}
/* konten1 end */


/* konten2 start */
.kategori {
    display: flex;
    justify-content: space-between;    
    box-sizing: border-box;
    max-width: 100%; /* Menggunakan max-width daripada width */
    background-color: #fff2ac;
    /* opacity: 30%; */
    height: 500px;
}

.kiri img{
    margin-left: 50px;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0 5px 5px 2px rgb(75, 75, 75) ;
}

.kanan h1{
    text-align: right;
    font-weight: 400;
    margin-right: 50px;
    border-bottom: 2px solid black;
}

/* konten2 end */

/* .drop {
    position: absolute;
    height: 200px;
    width: 200px;
    background: #c4c4c4;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    opacity: 0.8;
    border: 2px solid #dbdbdb;
  }
  
  .drop::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #c4c4c4;;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    box-shadow: -20px 30px 16px #c4c4c4, -40px 60px 32px #c4c4c4, inset -6px 6px 10px #c4c4c4, inset 2px 6px 10px #c4c4c4, inset 20px -20px 22px white, inset 40px -40px 44px #c4c4c4;
  }
  
  .drop::after {
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    background: #d9d9d9;
    border-radius: 44% 56% 46% 54% / 36% 50% 50% 64%;
    left: 130px;
    top: 40px;
    box-shadow: 16px 40px 0 -10px rgb(236, 236, 236);
    opacity: 0.8;
  }
  
  .drop1 {
    left: 50%;
    top: 150%;
  }
  
  .drop2 {
    right: 100px;
    top: 100%;
    z-index: -1;
    border-radius: 46% 50% 39% 54% / 56% 57% 50% 50%;
  }
  
  .drop2::before {
    border-radius: 46% 50% 39% 54% / 56% 57% 50% 50%;
  } */

footer{
    margin-top: 10rem;
    flex-direction: column;
}

.grid1{
    height: 15rem;
    background-color: rgb(255, 239, 132);

}

.a h3{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.a a {
    display: block;
    margin-bottom: 10px; /* Sesuaikan dengan kebutuhan jarak yang diinginkan */
    color: #000;
    text-decoration: none;
    text-align: start;
    margin-left: 5rem;
}

.b h3{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.b a{
    color: #000;
    font-size: 2.5rem;
}

.grid2{
    text-align: left;
    height: 3rem;
    padding-left: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color:  rgb(251, 224, 105);
    font-weight: 600;
}